.search-bar {
  margin: 20px;
  text-align: center;  
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: center;
    align-items: center;
    margin-right: 30px;
    width: 90.77%;
}

.search-bar input {
  width: 75%;
}

.video-item img {
  max-width: 64px;
}
.video-detail {
  margin: auto;
}
.video-detail .details {
  margin-top: 10px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}
.list-group {
  margin: auto;
}

.list-group-item {
  cursor: pointer;
  margin-top: 5px;
  margin-bottom: 5px;
}

.list-group-item:hover {
  background-color: #eee;
}
.button_class {
  height: 100%;
    width: 100%;
    background: #4272d7;
    white-space: nowrap;
    border-radius: .5px;
    font-size: 20px;
    color: #fff;
    transition: all .2s ease-out, color .2s ease-out;
    border: 0;
    cursor: pointer;
  
}
