.header-row {
  box-shadow: 0px 3px 50px rgba(0, 0, 0, 0.16);
}
.search-bar {
  margin: 20px;
  text-align: center;  
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: center;
    align-items: center;
    margin-right: 30px;
    width: 90.77%;
}
.search-bar>.input-group{
  margin-bottom: 0px !important;
}
.search-bar input {
  width: 75%;
}

.video-item img {
  max-width: 64px;
}
.video-detail {
  margin: auto;
  margin-bottom: 20px;
}
.video-detail .details {
  margin-top: 10px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}
.details {
  font-size: 14px;
    color: #0c0c0c;
}

.media-heading {
  padding-top: 4%;
    font-size: 14px;
    color: #0c0c0c;
    padding-left: 15px;
    padding-right: 10px;
}
.media-object {
  width:100%;
  border-radius: 12px;
}
.list-group {
  margin: auto;
}

.list-group-item {
  cursor: pointer;
  margin-top: 5px;
  margin-bottom: 5px;
  border: none !important;
}

.list-group-item:hover {
  background-color: #eee;
}
.button_class {
  height: 100%;
    width: 100%;
    background: #4272d7;
    white-space: nowrap;
    border-radius: .5px;
    font-size: 20px;
    color: #fff;
    transition: all .2s ease-out, color .2s ease-out;
    border: 0;
    cursor: pointer;
}
.video-title {
  font-weight: bold !important;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.one-liner {
  -webkit-line-clamp: 1;
}
.two-liner {
  -webkit-line-clamp: 2;
}
.main-video-desc {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.no-result-msg {
 padding-top: 10px;
}
.loading-msg {
  padding-top: 10px;
 }